<!-- FOOTER -->
<footer class="footer">
    <!-- CONTAINER -->
    <div class="container">
        <div class="row foorow-2 foorow">
            <div class="col-sm-4">
                <h3>Kontakt</h3>
                <address>
                    +49 (0)1512 333 6263<br>
                    <a href="mailto:info@non-rocket-science.com">info@non-rocket-science.com</a><br>
                    <br>
                    Bramfelder Chaussee 424<br>
                    22175 Hamburg
                </address>
            </div>
            <div class="col-md-5 col-sm-4 hidden-print">
                <h3>Projekte</h3>
                <ul>
                    <li>
                        <p>Meine veröffentlichten Vaadin-Addons: <a href="https://vaadin.com/directory#!browse/search=user:%22Marten%20Prie%C3%9F%22">SliderPanel, GridUtil und jCropWrapper</a></p>
                    </li>
                    <li>
                        <p><a class="text-primary" href="https://www.rocketbase.io">RocketBase.io</a> - im Team bieten wir Full-Service-Dienstleistungen im
                            Webumfeld für Unternehmen an.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3>VCard</h3>

                <p class="text-center"><a href="./vcard.vcf" class="icon-100px nonrocketico-user-profile"></a></p>
            </div>
        </div>

        <div class="row foorow-3 foorow hidden-print">
            <div class="col-md-6 col-sm-7">
                <a href="./" class="logo">Non-Rocket-Science</a>
                <p>&copy; 2016 Non-Rocket-Science. All Rights Reserved. Last Update: {{formatDate root.buildDate "dd.mm.yyyy"}}</p>
            </div>
            <div class="col-md-6 col-sm-5">
                <ul class="social pull-right">
                    <li><a href="https://xing.com/profile/marten_priess" title="Xing"><i class="fa fa-xing-square"></i></a></li>
                    <li><a href="https://linkedin.com/in/martenpriess" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://github.com/melistik" title="Github"><i class="fa fa-github-square "></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->
