<!-- Navigation -->
<div class="custom-navigation">
    <div class="branding">
        <div class="container">
            <div class="logo pull-left">
                <a href="./">Non-Rocket-Science</a>
            </div>
            <div class="slogan hidden-xs">Marten Prieß · IT consulting + development</div>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo hidden">
                    <a href="./"><i class="icon nonrocketico-non-rocket-science"></i> <span>Non-Rocket-Science</span></a>
                </div>
                <div class="contact-info">
                    <span class="phone">+49 (0)1512 333 6263</span> <a class="mail" href="mailto:info@non-rocket-science.com">info@non-rocket-science.com</a>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="./">Home</a>
                    </li>
                    <li>
                        <a href="steckbrief.html">Steckbrief</a>
                    </li>
                    <li>
                        <a href="projekte.html">Projekte</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<!-- /.Navigation -->