---
title:          Non-Rocket-Science
ogTitle:        Lösungen für Ihre IT-Herausforderungen, die EINFACH funktionieren!
description:    IT consulting + development aus Hamburg. Fokus auf die Webentwicklung in Java, Spring, Vaadin, AngularJs und PHP. Individuelle Lösungen und Unterstützung.
keyword:        Consulting + Development in Hamburg, Marten Prieß, Java, Spring, Vaadin, AngularJs, PHP

header: { class: "bg-keyboard", icon: "icon-200px nonrocketico-non-rocket-science" }
---
{{#extend "layout"}}

    {{#content "content"}}

        <div class="highlight darker hidden-print">
            <div class="container">
                <div class="row text-center">
                    <p class="lead">Lösungen für Ihre IT-Herausforderungen, die EINFACH funktionieren!</p>
                </div>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="content about">
            <!-- About -->

            <!-- only print -->
            <div class="row visible-print-block">
                <h2>Non-Rocket-Science</h2>
                <h3>Lösungen für Ihre IT-Herausforderungen, die EINFACH funktionieren!</h3>
            </div>
            <!-- /.only print -->

            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2 class="color">Marten Prieß</h2>

                            <p class="grey">IT consulting + development</p>
                        </div>
                        <div class="col-sm-8">
                            <p><a href="non-rocket-science.html" class="non-rocket-ref" data-toggle="tooltip"
                                  data-placement="top" title="Wofür steht der Name?">Non-Rocket-Science</a> konzipiert und
                                setzt Ihre IT-Projekte um.
                            </p>
                            <p>
                                Durch einen starken Fokus auf Web-Projekte konnte ich über die Jahre viele Erfahrungen in der
                                Realisierung von umfangreichen Web-Anwendungen und REST-Services aufbauen.
                                Besonders  mein hohes Maß an Kreativität in Kombination mit umfassendem technischen
                                Background helfen mir Projekte erfolgreich umzusetzen.
                                Als studierter Diplom Wirtschaftsinformatiker (FH) verstehe ich sowohl die
                                betriebswirtschaftliche als auch die Informatik-Sicht. Ich war mehrere Jahre im Otto-Konzern bei bonprix tief
                                in die technische Umsetzung und Konzeption des eigenentwickelten PIM- und MAM-Systems
                                <i>(Product Information Management + Media Asset Management)</i> involviert.
                            </p>
                            <p>
                                Ob Backend- oder Frontend-Entwicklung,
                                <a href="non-rocket-science.html" class="non-rocket-ref" data-toggle="tooltip"
                                   data-placement="top" title="Wofür steht der Name?">Non-Rocket-Science</a>
                                ist der richtige Partner für Sie. Professionelle User-Interfaces zaubere ich z.B. mit Vaadin, GWT
                                oder AngularJs. Der Unterbau und Webservices werden mit J2EE Boardmitteln, Spring und
                                anderen weit verbreiteten Frameworks realisiert.</p>

                            <p class="color">...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.about -->
        </div>

        <!-- Technology -->
        <div class="technology overlay medium-size hidden-print">
            <div class="bg bg-technology_cloud" data-100-top="background-position: 50% 100%" data-400-bottom="background-position: 50% 0%"><p class="hidden">Java, ElasticSearch, SOAP, REST, RestEasy, MyBatis,
                AspectJ, inDesign, Comet, Maven, Spring, JPA, PL/SQL, Spring MVC, Oracle, Spring Security, Datamodell,
                jQuery, Datawarehouse, Vaadin, GWT, Spring Data, Hibernate, JaxB, MAM, PIM, E-Commerce, Versandhandel</p>
            </div>
        </div>
        <!-- /.technology -->

        <div class="content">

            <!-- Topics -->
            <div class="container text-center">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="icon-norm">
                            <i class="icon icon-big nonrocketico-desktop-tablet"></i>
                        </div>
                        <h3>Frontend</h3>

                        <p>Vaadin + GWT<br>
                            AngularJs<br>
                            Bootstrap + jQuery</p>
                    </div>
                    <div class="col-xs-4">
                        <div class="icon-norm">
                            <i class="icon icon-big nonrocketico-lego-brick"></i>
                        </div>
                        <h3>Middle Tier</h3>

                        <p>Spring Framework<br>
                            REST + SOAP</p>
                    </div>
                    <div class="col-xs-4">
                        <div class="icon-norm">
                            <i class="icon icon-big nonrocketico-database-network"></i>
                        </div>
                        <h3>Backend</h3>

                        <p>Oracle, MySQL o. MongoDB<br>
                            Spring-Boot<br>
                            Tomcat</p>
                    </div>
                </div>
            </div>
            <!-- /.topics -->
        </div>

        <div class="highlight darker hidden-print">
            <div class="container">
                <div class="row text-center">
                    <p class="lead">weitere Informationen siehe <a href="steckbrief.html">Steckbrief</a></p>
                </div>
            </div>
        </div>
    {{/content}}

{{/extend}}