---
title:          Wofür steht der Name?
description:    "Non-Rocket-Science steht für: Pragmatische und schnelle Lösungen, die auf dem neusten Stand der Technik sind aber EINFACH und WARTBAR bleiben."
keyword:        Consulting + Development in Hamburg, Marten Prieß, Java, Spring, Vaadin, AngularJs, PHP

header: { class: "bg-keyboard small", icon: "icon-100px nonrocketico-drums" }
---
{{#extend "layout"}}

    {{#content "content"}}

        <div class="highlight darker">
            <div class="container">
                <div class="row text-center">
                    <p class="lead">Warum, wieso und weshalb dieser Name?</p>
                </div>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="container content paper">
            <div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1 text-center">
                        <div class="icon icon-300px nonrocketico-non-rocket-science black"></div>
                    </div>
                    <div class="col-md-6">
                        <p>Für mich war der Name <b>Non-Rocket-Science</b> schnell gefunden.<br>
                            Er symbolisiert meine Arbeitsweise und veranschaulicht, dass die Technik nicht unnötig kompliziert sein muss um gut zu sein.
                            Ganz nach dem Motto: "Keine Raketentechnologie" werden Lösungen entwickelt, die technisch auf
                            dem neusten Stand sind und primär der Lösung dienen. Jedem ist mit einer <mark>EINFACH</mark>EN
                            und GUTEN Lösung mehr geholfen als mit einem unnötig komplizierten Enterprise System, dass kaum zu verstehen ist.
                            <b>Non-Rocket-Science</b> steht für:
                        </p>
                        <ul>
                            <li><mark>Pragmatisch</mark>e und
                                <mark>schnell</mark>e Lösungen
                            </li>
                            <li>Neuster Stand der Technik und verständlich und <mark>WARTBAR</mark>
                            </li>
                            <li>"Es wird nicht mit Kanonen auf Spatzen geschossen"</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="highlight darker hidden-print">
            <div class="container">
                <div class="row text-center">
                    <p class="lead">Siehe auch meine <a href="projekte.html">Projekte</a></p>
                </div>
            </div>
        </div>
    {{/content}}

{{/extend}}

